@section styles{
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin-bottom: 0;
        }
    </style>
}

<div class="auth-page">
    <h2>Поздравляем!</h2>
    <br />
    <p>Ваш аккаунт успешно создан! Чтобы войти в личный кабинет, воспользуйтесь своими учетными данными на <a href="@Url.Action("Login", "Account")">форме входа</a></p>
</div>
