@section styles{
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin-bottom: 0;
        }
    </style>
}

<div class="auth-page">
    <h2>Инструкции по регистрации нового аккаунта</h2>
    <br />
    <p>Дальнейшие инсрукции по регистрации нового аккаунта на сайте отправлены на указанный Вами адрес электронной почты</p>
</div>