@{
    var year = DateTime.Now.Year;
}
<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                grandelivery 2016 @(year > 2016 ? " - " + year : null)<br />
                Все права защищены
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="footer__right">
                    Разработка и поддержка:<br />
                    <a href="mailto:simlex.dev.2014@gmail.com">goldfish.pro</a>
                </div>
            </div>
        </div>
    </div>
</div>
