@if(User.IsInRole("customer"))
{
    <h3>Ваши заказы</h3>
}

@Html.Action("List", "Orders")

@section scripts{
    <script>
        $(function () {
            $('#grid-orders').sx_gv();
        });
    </script>
}