<h2>Добро пожаловать , @User.Identity.Name !</h2>
<p>Вы вошли как @(User.IsInRole("admin") ? "админиcтратор" : User.IsInRole("customer") ? "заказчик" : User.IsInRole("carrier") ? "перевозчик" : " [роль не определена или не поддерживается]")</p>